.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container img {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .container {
        max-width: 900px;
    }
}
@media screen and (max-width: 1000px) {
    .container {
        max-width: 600px;
    }
}